cluster.name: "{{ default .Env.CLUSTER_NAME "es" }}"
node.name: ${HOSTNAME}
node.data: "false"
node.master: "false"
network.host: "_site_"

bootstrap.mlockall: true
discovery.zen.ping.multicast.enabled: false

discovery.zen.ping.unicast.hosts: ["es-master"]
