<?xml version="1.0"?>
<yandex>
    <macros replace="replace">
        <shard>{{ default .Env.CH_SHARD "1" }}</shard>
        <replica>{{ default .Env.CH_REPLICA "1" }}</replica>
    </macros>
</yandex>
