<?xml version="1.0"?>
<yandex>
	<zookeeper replace="replace">
        <node index="1">
            <host>{{ default .Env.CH_ZOOKEEPER "zk.zookeeper" }}</host>
            <port>2181</port>
        </node>
    </zookeeper>
</yandex>
