input {
  file {
    path => "/load/*/*"
    discover_interval => 5
  }
}
filter {
  csv {
    separator => "	"
  }
  grok {
    match => ["path","%{GREEDYDATA}/%{GREEDYDATA:type}/%{GREEDYDATA:filename}"]
  }
  mutate
  {
    remove_field => [ "message", "@version", "path"]
  }
}
output {
  rabbitmq {		
     exchange => "logstash-rabbitmq"		
     exchange_type => "direct"		
     key => "logstash"		
     host => "{{ default .Env.RABBITMQ_HOST "rabbitmq" }}"		
     user => "{{ default .Env.RABBITMQ_USER "rabbitmq" }}"		
     password => "{{ default .Env.RABBITMQ_PASS "passw0rd" }}"		
     workers => 8		
     durable => true		
     persistent => true		
   }
}
