input {
      file {
          path => "/log/*"
          start_position => "beginning"
      }
}

filter {
    csv {
        columns => ["one","two","three"]
        separator => ";"
    }
}

output {
    elasticsearch {
        action => "index"
        hosts => ["{{ default .Env.ES_HOST "es" }}"]
        index => "location"
        workers => 4
        user => "{{ default .Env.ES_USER "user" }}"
        password => "{{ default .Env.ES_PASS "password" }}"
    }
}
