input {
      file {
          path => "/log/*"
          start_position => "beginning"
      }
}

filter {
    csv {
        columns => ["one","two","three"]
        separator => ";"
    }
    mutate {
        remove => [ "message", "host", "@version","path"] 
    }
}

output {
    elasticsearch {
        action => "index"
        hosts => ["{{ default .Env.ES_HOST "es" }}"]
        index => "{{ default .Env.INDEX "index" }}"
        workers => 4
    }
}
