input {
  generator {
    lines => [
      "line 1",
      "line 2",
      "line 3"
    ]
    count => 3
  }
}
output {
  elasticsearch {
    hosts => "elasticsearch"
    index => "logstash-%{+YYYY_MM_dd_HH_mm}"
    workers => 8
  }
}
