input {
  redis {
    host => "{{ default .Env.REDIS_HOST "redis" }}"
    port => 6379
    threads => 16
    key => "logstash"
    data_type => "list"
    codec => json
    batch_count => 20000
  }
}
output {
  elasticsearch {
    hosts => "elasticsearch"
    index => "logstash-%{+YYYY.MM.dd.HH.mm}"
    workers => 8
  }
}
