input {
  rabbitmq {
    queue => "logstash-queue"
    durable => true
    key => "logstash"
    exchange => "logstash-rabbitmq"
    threads => 8
    prefetch_count => 50
    host => "{{ default .Env.RABBITMQ_HOST "rabbitmq" }}"
    user => "{{ default .Env.RABBITMQ_USER "rabbitmq" }}"
    password => "{{ default .Env.RABBITMQ_PASS "passw0rd" }}"
  }
}
output {
  file {
    message_format => "%{[column1]}	%{[column2]}	%{[column3]}	%{[column4]}	%{[column5]}	%{[column6]}	%{[column8]}"
    path => "/load/%{filename}"
    workers => 4
    flush_interval => 30
  }
}
