daemon off;
user www-data;
worker_processes 4;
pid /run/nginx.pid;

events {
  worker_connections 1024;
}

http {
  sendfile on;
  tcp_nopush on;
  tcp_nodelay on;
  keepalive_timeout 65;
  types_hash_max_size 2048;
  include /etc/nginx/mime.types;
  default_type application/octet-stream;
  access_log /dev/stdout;
  error_log /dev/stderr;
  server {
    listen 80;
  
    server_name {{ default .Env.KOPF_SERVER_NAME "es.dev" }};
  
    satisfy any;
  
    {{ if .Env.KOPF_BASIC_AUTH_LOGIN }}
    auth_basic "Access restricted";
    auth_basic_user_file /etc/nginx/conf.d/kopf.htpasswd;
    {{ end }}
  
    {{ if .Env.KOPF_NGINX_INCLUDE_FILE }}
    include {{ .Env.KOPF_NGINX_INCLUDE_FILE }};
    {{ end }}
  
    # suppress passing basic auth to upstreams
    proxy_set_header Authorization "";
  
    # everybody loves caching bugs after upgrade
    expires -1;
    
    location ~ ^/es.*$ {
      set $backend_upstream http://{{ default .Env.KOPF_ES_SERVERS "es:9200" }};
      proxy_pass $backend_upstream;
      rewrite ^/es(.*) /$1 break;
    }
  
    location ~ ^/.*$ {
      set $backend_upstream http://{{ default .Env.KOPF_ES_SERVERS "es:9200" }};
      proxy_pass $backend_upstream;
      rewrite ^/(.*) /_plugin/kopf/$1 break;
    }
  }
}
