input {
  redis {
    host => "redis"
    port => 6379
    threads => 5
    key => "logstash"
    data_type => "list"
    codec => json
  }
}
filter {
  {{ if .Env.GROK }}
  grok {
    match => { "message" => "{{ .Env.GROK }}" }
  }
  {{end}}
  mutate {
    remove_field => ["message", "@version", "host"]
  }
}
output {
  elasticsearch {
    hosts => ["es"]
    index => "{{ .Env.INDEX }}"
  }
}
