input {
  redis {
    host => "redis"
    port => 6379
    threads => "16"
    key => "logstash"
    data_type => "list"
    codec => json
  }
}
filter {
  {{ if .Env.GROK }}
  grok {
    match => { "message" => "{{ .Env.GROK }}" }
  }
  {{end}}
  mutate {
    remove_field => ["message", "@version", "host"]
  }
}
output {
    elasticsearch {
    host => "elasticsearch"
    protocol => "http"
    index => "{{ .Env.INDEX }}"
    workers => "16"
  }
}
