input {
  elasticsearch {
    hosts => ["elasticsearch"]
    index => "{{ .Env.SOURCE }}"
    size => 10000
    docinfo => true
  }
}
output {
  elasticsearch {
    hosts => ["elasticsearch"]
    index => "{{ .Env.MERGE }}"
    document_type => "%{[@metadata][_type]}"
    document_id => "%{[@metadata][_id]}"
    workers => 16
  }
}
