input {
  redis {
    host => "redis"
    port => 6379
    threads => 5
    key => "logstash"
    data_type => "list"
    codec => json
  }
}
{{ if .Env.GROK }}
filter {
  grok {
    match => { "message" => "{{ .Env.GROK }}" }
  }
}
{{end}}
output {
  elasticsearch {
    hosts => ["es"]
    index => "{{ .Env.INDEX }}"
    workers => 5
    flush_size => 10000
  }
}
