[mysqld_safe]
log-error=/db_pool/log/mysqld.log
pid-file=/db_pool/mysql/mysqld.pid
open_files_limit=128000

[mysqld]
port=3307
bind-address=0.0.0.0
server-id=1
log-error=/db_pool/log/mysql.log


# OPTIMIZATIONS
#skip_innodb
skip_name_resolve=ON
optimizer_switch=index_condition_pushdown=off,block_nested_loop=off
performance_schema=OFF
#log_warnings=2
#sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
explicit_defaults_for_timestamp=1

# INNODB
innodb_buffer_pool_size=2G

# DERICTORIES
datadir=/db_pool/mysql
tmpdir=/db_pool
socket=/db_pool/mysql/mysql.sock
default_storage_engine=MyISAM
default_tmp_storage_engine=MyISAM
internal_tmp_disk_storage_engine=MyISAM
skip_external_locking

# FULL TEXT SEARCH
ft_min_word_len=1
ft_stopword_file=""

# CONNECTIONS
open_files_limit=24000
max_connections=64000
max_user_connections=64000
max_connect_errors=100000
max_allowed_packet=1G
interactive_timeout=600
wait_timeout=600

# PER CONNECTION BUFFERS
sort_buffer_size=2M
read_buffer_size=128K
read_rnd_buffer_size=256K
preload_buffer_size=256K
bulk-insert-buffer-size=256K

# OTHER BUFFERS
join_buffer_size=32M
myisam_sort_buffer_size=256M
myisam_repair_threads=1

# TMP AND MEMORY TABLES
tmp_table_size=1G
max_heap_table_size=2G
max_tmp_tables=8

# TABLES OPEN
table_open_cache=4K
table_definition_cache=16K
table_open_cache_instances=16
thread_cache_size=0
flush_time=7200

# QUERY CACHE
query_cache_type=1
query_cache_size=16M
query_cache_limit=32K

# MYISAM KEY BUFFERS
key_buffer_size=16G
key_cache_division_limit=75
key_cache_age_threshold=900
storage_hot.key_buffer_size=24G
storage_cold.key_buffer_size=4G

# INIT FILE
init_file=/db_pool/mysql/mysqld_init.sql


# Try number of CPU's*2 for thread_concurrency
#thread-concurrency = 24
#concurrent-insert = 2

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

# Settings user and group are ignored when systemd is used (fedora >= 15).
# If you need to run mysqld under a different user or group,
# customize your systemd unit file for mysqld according to the
# instructions in http://fedoraproject.org/wiki/Systemd
user=mysql

## Semisynchronous Replication
## http://dev.mysql.com/doc/refman/5.5/en/replication-semisync.html
## uncomment next line on MASTER
#;plugin-load=rpl_semi_sync_master=semisync_master.so
## uncomment next line on SLAVE
#;plugin-load=rpl_semi_sync_slave=semisync_slave.so
#
## Others options for Semisynchronous Replication
#;rpl_semi_sync_master_enabled=1
#;rpl_semi_sync_master_timeout=10
#;rpl_semi_sync_slave_enabled=1
