port 26379
sentinel monitor mymaster redis-master 6379 1
{{ if .Env.PASS }}
sentinel auth-pass mymaster {{ .Env.PASS }}
{{end}}
sentinel down-after-milliseconds mymaster 3000
sentinel failover-timeout mymaster 6000
sentinel parallel-syncs mymaster 1
