# Example sentinel.conf can be downloaded from http://download.redis.io/redis-stable/sentinel.conf

port 26379
protected-mode no
{{ if .Env.PASS }}
requirepass {{ .Env.PASS }}
masterauth {{ .Env.PASS }}
{{end}}

dir /tmp

sentinel monitor mymaster {{ default .Env.REDIS_MASTER "redis-master" }} 6379 {{ default .Env.SENTINEL_QUORUM "2" }}

sentinel down-after-milliseconds mymaster {{ default .Env.SENTINEL_DOWN_AFTER "30000" }}

sentinel parallel-syncs mymaster 1

sentinel failover-timeout mymaster {{ default .Env.SENTINEL_FAILOVER "180000" }}
